# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
*.db
*.sqlite
*.log

# Virtual Environment
venv/
env/
.env/

# Jupyter Notebook
.ipynb_checkpoints/
*.ipynb

# Data and Models
data/
*.h5
*.hdf5
*.ckpt
*.pb
*.onnx
*.pt

# Logs and checkpoints
*.log
checkpoint/

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Miscellaneous
*.DS_Store
*.gitignore
*.env
*.config

# Specific to machine learning frameworks
# TensorFlow
tensorflow/

# PyTorch
torch_model/
